body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
  background: url('http://www.westcoasttrustsestates.com/files/2014/08/basketball-court.jpg');
  background-size: cover;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  border:10px solid black;
  /*border-radius:10px;*/
  position:absolute;
}
.guard {
  border:none;
  width: 175px;
  height: 127px;
  /*background: url('http://www.westcoasttrustsestates.com/files/2014/08/basketball-court.jpg');*/
  background-repeat: no-repeat;
  background: url('src/img/addGuard/1.png');
  background-size: 175px 127px;
  background-position: center;
}
.forward{
  border:none;
  width: 175px;
  height: 127px;
  background: url('src/img/addForward/1.png');
  background-repeat: no-repeat;
  background-size: 175px 127px;
  background-position: center;
}
.center{
  border:none;
  width: 175px;
  height: 127px;
  background: url('src/img/addCenter/1.png');
  background-repeat: no-repeat;
  background-size: 175px 127px;
  background-position: center;
}

.left {
  left: 25px;
}

.right {
  right: 25px;
}

.bottom {
  bottom: 25px;
}
